<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee Management System</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header>
		<h1> Employee Management System</h1>
		<nav>
			<a th:href="@{/employees}">Home</a>
			<a th:href="@{/employees/add}">Add Employee</a>
			<a th:href="@{/logout}">Logout</a>
		</nav>
		
	</header>
	<main>
		
	</main>
	<footer>
		<p>&copy; 2024 Future intern</p>
	</footer>

</body>

</html>